.container {
  /* max-width: 800px;
  margin: 0 auto; */
  height:auto;
  display:flex;
}

.user-section, .guest-section {
  /* vertical-align: middle; */
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 100px;
  width: 300px; /* 左侧模块宽度 */
  height:800px;
}

.user-section h1, .guest-section h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.user-section p, .guest-section p {
  font-size: 16px;
  margin-bottom: 10px;
}

.user-section button, .guest-section button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
}

.nav-button {
  background-color: #28a745;
}

.auth-button {
  background-color: #17a2b8;
}

input[type="text"], input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
  color: #999;
}

.content {
  flex:1;
  height:auto;
  margin-left:50px;
}

.right-column {
  width: 300px; /* 右侧登录模块宽度 */
}